#campaignformp2 {
  text-align: center;
  background-color: #FaFaFa;
  float: left;
  left: 0;
  right: 0;
  min-height:  900px;
  min-width: 100%;
}

#goback-top {
  float: right;
  color: #683AAA;
  background-color: transparent;
  margin: 20px;
}

#goback-top:hover {
  float: right;
  color: #683AAA;
  background-color: #F1E3F2;
}

#launch-top {
  float: right;
  margin: 20px;
  font-size: 12px;
}

.campaign-form2-parent {
  width: 700px;
}

#campaign-form2 {
  margin-top: 50px;
  margin-left: 80px;
}

#basics {
  text-align: left;
  font-size: 26px;
  font-family: Helvetica,
    "Sans-serif";
  font-weight: 400;
  color: #2a2a2a;
}

#basicsdescription {
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 300;
  font-family: Helvetica,
  "Sans-serif";
    width: 700px;
    line-height: 1.5;
}

.formpt2-inputs {
  float: left;
  text-align: left;
}


.sublabel {
  text-align: left;
  font-size: 14px;
  color: #6a6a6a;
  font-family: Helvetica,
     "Sans-serif";
  margin-bottom: 10px;
  font-weight: 400;
}

.input-label_header {
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 600;
   font-family: Helvetica,
   "Sans-serif";
}

#campaigndescription {
  height: 100px;
}

.form-field_campaign {
    width: 900px;
    height: 40px;
    padding: .25rem 1rem;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.5;
    max-width: 100%;
    color: #2a2a2a;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="file"] {
  height: 400px;
  width: 400px;
}

#campaignform2btn {
  float: right;
}

#campaign_duration {
  margin-bottom: 50px;
  width: 20px;
  height: 30px;
  text-align: center;
}

