
#campaignshowparent {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#campaignshowheader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#campaignshowheader-right {
  display: flex;
  flex-direction: column;
  height: 350px;
  margin-top: 25px;
  width: 450px;
    
}

#campaignshowheader-right > span {
  
}

#campaignshowlower {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.showpageimage {
  max-width: 500px;
  max-height: 500px;
  margin-top: 20px;
}

#showpage_tagline {
  text-align: left;
  margin-bottom: 4%;
  font-family: Helvetica,
  "Sans-serif";
  color: #2a2a2a;
  font-weight: 300;
}

#showpage_funding {
  text-align: left;
  font-size: 12px;
  color: #088366;
  font-family: Helvetica,
    "Sans-serif";
  letter-spacing: 2px;
  margin-bottom: 30px;
}

#showpage_title {
  font-family: Helvetica,"Sans-serif";
  color: #2a2a2a;
  font-weight: 500;
  font-size: 22px;
  text-align: left;
  margin-bottom: 15px;
}

#showpage_description {
  font-family: Helvetica, "Sans-serif";
  color: #2a2a2a;
  font-weight: 200;
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
}

#showpage_creator {
  text-align: left;
  margin-bottom: 30px;
  font-family: Helvetica,
    "Sans-serif";
  color: #2a2a2a;
  text-decoration: none;
}

#showpage_creator:hover {
  text-decoration: underline;

}

.space {
  width: 50px;
}

#btn-backit {
  margin-top: 50px;
  width: 80px;
  height: 15px;
  font-size: 14px;
  background-color: #e51075;
  text-decoration: none;
  border-radius: 3px;
}

#btn-backit:hover {
  background-color: #E5005F;
}

#progressbar {
  height: 24px;
  width: 20%;
  background-color: #088366;
  border-radius: 20%;
  height: 10px;

}

.progressbar_parent {
  width: 450px;
  background-color: #6a6a6a;
  border-radius: 15%;
  height: 10px;
  margin-bottom: 3px;
}

#showpage_amountraised {
  text-align: left;
  margin-bottom: 5px;
  font-family: Helvetica,
  "Sans-serif";
  color: #2a2a2a;
  font-weight: 700;
}

#raisedandbackers {
  display: flex;
  justify-content: space-between;
}

#showpage_backers {
  color: #2a2a2a;
  font-family: Helvetica,
    "Sans-serif";
  margin-right: 5px;
}

#showpage_percent_raised {
  color: #2a2a2a;
  font-family: Helvetica,
  "Sans-serif";
}

#campaign-description {
  width: 40%;
  margin-left: 15%;
  margin-top: 2%;
  font-family: Helvetica,
  "Sans-serif";
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #2a2a2a;
}

#campaign-description-header {
  text-align: left;
}

.perk-card-container {
      border: 1px solid #ddd;
      background-color: #fff;
      border-radius: 2px;
      font-weight: 500;
      line-height: 1.5;
      text-align: left;
      color: #2a2a2a;
      margin-bottom: 5%;
      padding: 20px;
      text-decoration: none;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease-in-out;
      font-family: Helvetica,
        "Sans-serif";
      overflow-wrap: break-word;

}



#perk-parent {
  margin-right: 15%;
  margin-top: 2%;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #2a2a2a;
  width: 20%;
  text-decoration: none;
}



#perk_card_link {
  text-decoration: none;
}

.homepage_container {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 20px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.perk-card-container:hover {
  transform: scale(1.05, 1.05);
}

.perk-card-container:hover::after {
  opacity: 1;
}

.campaignshowlower-header {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

#estimated_shipping {
  font-weight: 600;
}

#quantity_avail {
  font-weight: 600;
}

#perk-price {
  font-weight: 500;
}

#perk-card-header {
  font-weight: 600;
  white-space: pre-wrap;
}

#add_perk_show {
  font-family: benton-sans,
  Helvetica,
  "Sans-serif";
  font-weight: 300;
  color: white;
  background-color: #835FB5;
  padding: 3%;
  border: none;
  letter-spacing: 2px;
  text-decoration: none;
  border-radius: 5px;
}

#add_perk_show:hover {

  background-color: #683AAA;

}