#campaignformp2 {
  text-align: left;
  background-color: #FaFaFa;
  float: left;
  position: fixed;
  left: 0;
  right: 0;
  min-height:  900px;
}

.campaign-form2-parent {
  width: 700px;
}

#campaign-form2 {
  margin-top: 20px;
  margin-left: 40px;
}

#basicsdescription {
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
}


.formpt2-inputs {
  float: left;
  text-align: left;
}

#basics {
  text-align: left;
}

.sublabel {
  text-align: left;
}
