// Place all the styles related to the Api::Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaign-form-parent {
  width: 700px;
  margin: 0 auto;
}


.campaign-form-parent > p, h1, h2 {
  word-wrap: break-word;
  white-space: pre-wrap;
}



