// Place all the styles related to the Api::Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaign-form-parent {
  width: 700px;
  margin: 0 auto;
}


.campaign-form-parent > p, h1, h2, span, div {
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: center;

}

.campaign_form-header1 {
       text-align: center;
       font-size: 2rem;
       font-family: Georgia,
       "Serif";
       ;
       font-weight: 500;
       margin-bottom: -5px;
       margin-top: 30px;
       color: #2a2a2a;
       margin-bottom: 10px;
       
}

#campaignsubheader {
  margin-bottom: 50px;
}

.campaign-radio {
  text-align: left;
}

.campaign_form-header2 {
   text-align: center;
   font-family: Helvetica,
   "Sans-serif";
   font-weight: 300;
   line-height: 1.5;
   letter-spacing: 0;
   color: #2a2a2a;
   font-size: 1.3rem; 
}
#boldcampaignheader.campaign_form-header2 {
  margin-bottom: 50px;
}
#boldcampaignheader {
     text-align: center;
     font-family: Helvetica,
     "Sans-serif";
     font-weight: 600;
     line-height: 1.5;
     letter-spacing: 0;
     color: #2a2a2a;
     font-size: 1.3rem;
}

input[type="radio"] {
  color: #2a2a2a;
  font-weight: 500px;
  margin: 10px;
  transform: scale(1.5);
}

.question-header1 {
  text-align: left;  
  font-family: Helvetica,
  "Sans-serif";
  font-weight: 600;
  color: #2a2a2a;
  font-size: 16px;
}

.question-header2 {
  color: #6a6a6a;
  text-align: left;
  font-family: Helvetica,
  "Sans-serif";
  font-size: 16px;
  font-weight: 300;
}

select {
  width: 700px;
  height: 50px;
  padding: 10px;
  font-family: Helvetica,
       "Sans-serif";
  color: #2a2a2a;
  font-size: 14px;

}

#dropdown_list-bl {
  margin-bottom: 80px;
  

}

.btn-formp1[disabled] {
      font-family: benton-sans,
      Helvetica,
      "Sans-serif";
      font-weight: 600;
      color: white;
      background-color: #C8C8C8;
      height: 50px;
      width: 215;
      padding: 20px;
      border: none;
      letter-spacing: 2px;
      border-radius: 5px;
}

.btn-formp1 {
  font-family: benton-sans,
    Helvetica,
    "Sans-serif";
  font-weight: 600;
  color: white;
  background-color: #835FB5;
  height: 50px;
  width: 215;
  padding: 20px;
  border: none;
  letter-spacing: 2px;
  margin-bottom: 60px;
  border-radius: 5px;
  cursor: pointer;
}



.btn-formp1:hover {
  font-family: benton-sans,
    Helvetica,
    "Sans-serif";
  font-weight: 600;
  color: white;
  background-color: #683AAA;
  height: 50px;
  width: 215;
  padding: 20px;
  border: none;
  letter-spacing: 2px;
  margin-bottom: 60px;
  border-radius: 5px;
  cursor: pointer;
}



.btn-formp1:hover {
  cursor: pointer;
}

.btn-formp1[disabled]:hover {
  cursor: auto;
   color: white;
   background-color: #C8C8C8;
}

#pinkrobot {
  margin-top: 50px;
}

