// Place all the styles related to the Api::ContributionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nameandcardnumber-parent {
  display: flex;
}

#contribution_nameoncard {
  width: 400px;
  margin-right: 10px;
}

#contribution_cardnumber {
  width: 400px;
}

#contributionform {
  margin-top: 30px;
  width: 40%;
  margin-left: 50px;
}

#contributionformheader {
  text-align: left;
}

#contribution_appearance {
  margin-bottom: 80px;
}

.contribution-form-parent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
}

#perk-price-total {
  font-weight: 800;
}

#contribution-perk-top {
  background-color: #C8C8C8;
  text-align: left;
}


.contribution-perk-card-container {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 2px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #2a2a2a;
  margin-bottom: 5%;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  font-family: Helvetica,
    "Sans-serif";

}