// Place all the styles related to the Api::ContributionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nameandcardnumber-parent {
  display: flex;
}

#contribution_nameoncard {
  width: 400px;
  margin-right: 10px;
}

#contribution_cardnumber {
  width: 400px;
}

#contributionform {
  margin-top: 5%;
  width: 35%;
}

#contributionformheader {
  text-align: left;
}

#contribution_appearance {
  margin-bottom: 80px;
}

.contribution-form-parent {
  display: flex;
  justify-content: center;
  text-align: left;
}

#perk-price-total {
  font-weight: 800;
}

#contribution-perk-top {
  background-color: #f5f5f5;
  text-align: left;
  padding: 20px;
}


.contribution-perk-card-container {
  // font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #2a2a2a;
  margin-bottom: 5%;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-family: Helvetica,
    "Sans-serif";
  color: #2a2a2a;
}

#review-contribution-heading {
  margin: 0;
  font-weight: 900;
  font-size: 14px;
  text-align: left;
  margin-bottom: 5%;
  letter-spacing: 2px;
  color: #2a2a2a
}

.contribution-perk-parent {
  // background-color: #f5f5f5;
  border: 1px solid black;
  margin: 5%;
  width: 20%;
  color: #2a2a2a
}

#contribution-perk-bottom {
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: #2a2a2a;
  text-align: left;
  padding: 20px;
  padding-bottom: 10px;

}

#contribution-perk-top span {
  color: #2a2a2a;
  font-size: 14px;
}

#contribution-perk-bottom span {
   color: #2a2a2a;
   font-size: 14px;
}
#contribution-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contribution-btn {
  margin-top: 5%;
  margin-bottom: 0;
  width: 80%;
  background-color:#EB1478;
}

#yourecontributing {
  text-align: left;
   color: #2a2a2a;
   font-size: 16px;
}

.contribution-form-headers {
  text-align: left;
  line-height: .5;
}

#contributiontitleheader {
    font-family: Helvetica,
    "Sans-serif";
    color: #2a2a2a;
    font-size: 18px;
    text-align: left;
    margin-bottom: 5%;

}

#yourecontributing {
    font-family: Helvetica,
    "Sans-serif";
    color: #2a2a2a;
    text-align: left;
}