// Place all the styles related to the Api::ContributionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nameandcardnumber-parent {
  display: flex;
}

#contribution_nameoncard {
  width: 400px;
  margin-right: 10px;
}

#contribution_cardnumber {
  width: 400px;
}

#contributionform {
  margin-top: 30px;
  width: 40%;
  margin-left: 50px;
}

#contributionformheader {
  text-align: left;
}

#contribution_appearance {
  margin-bottom: 80px;
}

.contribution-form-parent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}