.my-campaigns-campaign-container {
  display: flex;

}

.my-campaigns-details {
  display: flex;
  flex-direction: column;
    position: relative;
    top: 10%;
    margin-left: 3%;
    // transform: translateY(-50%);
}

.my-campaigns-container-all {
  margin: 5% 10% 10% 10%;
}

.my-campaigns-campaign-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 250px;
}

.my_campaign_images {
  border: 1px solid #ddd;
  border-radius: 4px;
    width: 193px;
    height: 200px;
    position: relative;
    top: 10%;
}

#campaign-firstname {
    text-align: left;
    margin-top: 4%;
    font-family: Helvetica,
    "Sans-serif";
    color: #2a2a2a;
    margin-bottom: 2%;
}

#campaign-links {
  text-decoration: none;
  text-align: left;
  border-bottom: 1px solid #ccc;
  

}

#campaign-links a {
  text-decoration: none;
  margin-right: 10px;
  color: #2a2a2a;
}

#campaign-links a:hover {
  color: #e51075;
}

#campaigns-im-on {
  text-align: left;
  color: #2a2a2a;
  font-weight: 400;
}

.my_campaigns_title {
  color: #2a2a2a;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
}

.my_campaigns_title:hover {
  text-decoration: underline;
}

#my_campaigns_creator {
    color: #e51075;
    text-align: left;
  text-decoration: none;
}

#my_campaigns_creator:hover {
  text-decoration: underline;
}

.my_campaigns_creatorparent {
  text-align: left;
  margin-bottom: 5%;
}

#my_campaigns_tagline {
  text-align: left;
}

#my-campaigns-left {
  display: flex;
  justify-content: flex-start;
}

#delete_campaign_btn {
  margin-top: 30%;
  margin-right: 5%;
  font-family: benton-sans,
  Helvetica,
  "Sans-serif";
  font-weight: 200;
  color: #835FB5;
  background-color: transparent;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#delete_campaign_btn:hover {
 background-color: #ccc;
}