// Place all the styles related to the Api::Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-firstname {
  text-align: left;
  margin: 0% 20%;
  margin-top: 7%;
}

#profile-links {
  text-decoration: none;
  text-align: left;
  margin: 0% 20%;
  margin-bottom: 0%;

}

#profile-links a {
  text-decoration: none;
    margin-right: 10px;
 color: #2a2a2a;
}

#profile-links a:hover {
  color: #e51075;
}

#profile-lower {
  display: flex;
  justify-content: space-between;
  margin: 20%;
  margin-top: 2%;
  margin-bottom: 10%;
  border-top: 1px solid #ccc;
}

#profile-list {
  list-style-type: none;
  text-align: left;
  margin-right: 30%;
}

#profile-right {
  margin-right: 200px;
  margin-top: 5%
}