

.splash-header {
  font-size: 30px;
  font-family: Marker Felt, fantasy;
}

.Dog {
  width: 100%;
  height: 500px;
  object-fit: cover;


}

#test {
  width: 100%;
}


.slick-slider {
  margin: auto;

  width: 100%;
}

.slick-track {
  display: flex;
  align-items: center;
  width: 400px;
}


.splash-page-main-content-container {
  margin-top: 100px;
  font-family: Marker Felt, fantasy;


  h1 {
    text-align: center;
  }
}


.helpful-information-banner-container {
  display: flex;
  padding: 50px 20px;
  background-color: transparent;
  justify-content: space-between;

  #helpful-information-banner-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;

    img {
      height: 50px;
    }
  }
}
