/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  cursor: pointer;
}

 .topnav {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .nav-left {
   display: flex;
   justify-content: space-between;
    align-items: center;
 }


 .navbtn {
  text-decoration: none;
  white-space: nowrap;
  color: #2a2a2a;
  font-weight: 700;
  vertical-align: middle;
  font-family: Helvetica,"Sans-serif";
  font-size: .875rem;
  line-height: 1.5;
  letter-spacing: 0;
  margin: 10px;
 }

 div {
     text-decoration: none;
     white-space: nowrap;
     color: #6D6D6D
     vertical-align: middle;
     font-family: Helvetica,
     "Sans-serif";
 }

 .logo {
  color: #EB1478;
  font-family: 'Paytone One', sans-serif;
  font-size: 27px;
  margin: 4px;
  margin-right: 15px;

 }

 .navbtn:hover {
  color: #EB1478;
 }

 .modal-background {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
 }

 .modal-form {
  display: block;
  position: absolute;
  top: 100px;
  left: 35%;
  background-color: white;
  z-index: 3;
  height: 600px;
  width: 480px;
 }

 .modal {
   display: none;
 }

 .modal-open {
   display: block;
 }

 .x-out {
   cursor: pointer;
   margin: 6px;
   float: right;
   color: #6A6A6A;
 }

 .x-out:hover {
   cursor: pointer;
   margin: 6px;
   float: right;
   color: #2a2a2a;
 }

 .form-header1 {
  text-align: center;
  font-size: 2rem;
  font-family: ff-more-web-pro, Georgia, "Serif";;
  font-weight: 500;
  margin-bottom: -5px;
 }
  .form-header2 {
  text-align: center;
  font-family: benton-sans,Helvetica,"Sans-serif";
  font-weight: 300;
  color: #6a6a6a;
  font-size: 16px;
  }

  .formheaders {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-field {
    text-align: center;
  }

