/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  cursor: pointer;
}

#divider {
  border-left: 1px solid #ccc;
  height: 30px;
}

.nav-right {
  display: flex;
  align-items: center;
  
}

 .topnav {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
 }

 .nav-left {
   display: flex;
   justify-content: space-between;
    align-items: center;
 }


 .navbtn {
  text-decoration: none;
  white-space: nowrap;
  color: #2a2a2a;
  font-weight: 700;
  vertical-align: middle;
  font-family: Helvetica,"Sans-serif";
  font-size: .875rem;
  line-height: 1.5;
  letter-spacing: 0;
  margin: 10px;
 }

 div {
     text-decoration: none;
     white-space: nowrap;
     color: #6D6D6D;
     vertical-align: middle;
     font-size: 16px;
     font-family: Helvetica,
     "Sans-serif";
 }

 .logo {
  color: #EB1478;
  font-family: 'Paytone One', sans-serif;
  font-size: 27px;
  margin: 4px;
  margin-right: 15px;
  text-decoration: none;

 }

 .navbtn:hover {
  color: #EB1478;
 }

 .modal-background {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
 }

 .modal-form {
  display: block;
  position: absolute;
  top: 100px;
  left: 35%;
  background-color: white;
  z-index: 3;
  height: 600px;
  width: 480px;
 }

 .modal {
   display: none;
 }

 .modal-open {
   display: block;
 }

 .x-out {
   cursor: pointer;
   margin: 6px;
   float: right;
   color: #6A6A6A;
 }

 .x-out:hover {
   cursor: pointer;
   margin: 6px;
   float: right;
   color: #2a2a2a;
 }

 .form-header1 {
  text-align: center;
  font-size: 2rem;
  font-family: Georgia, "Serif";;
  font-weight: 500;
  margin-bottom: -5px;
  margin-top: 30px;
  color: #2a2a2a;
 }
  .form-header2 {
  text-align: center;
  font-family: Helvetica,"Sans-serif";
  font-weight: 300;
  color: #6a6a6a;
  font-size: 16px;
  margin-bottom: 30px;
  }

  .form-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-field {
    width: 350px;
    height: 40px;
    padding: .25rem 1rem;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 100%;
    color: #2a2a2a;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .input-label {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500px;
    color: #2a2a2a;
    font-family: Helvetica,"Sans-serif";
    text-align: left;
  }

  #logpw {
    margin-bottom: 40px;  
  }

  .modal-button {
    width: 385px;
    height: 40px;
    background-color: #e51075;
    border: 1px solid #e51075;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .modal-button:hover {
    background-color: #E5005F;
    border: 1px solid #E5005F;
    
  }

    #demo-button {
    background-color: #41569F;
    border: 1px solid #41569F;
    }

    #demo-button:hover {
      background-color: #3D4E96;
      border: 1px solid #3D4E96;
    }

    #signup-form {
      height: 650px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        height: 40px;
    }

    #logout {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    text-align: center;
    width: 90px;
    font-family: Helvetica,"Sans-serif";
    font-weight: 100px;
    padding: 5px 5px 5px 5px;
    top: 40px;
    right: 1px;
    background-color: white;
    }

    #logout:hover {
       color: #e51075;
    }

    .dropdown:hover #logout {
      display: block;
      cursor: pointer;
    }

    #username_dropdown {
      margin-bottom: 0px;
    }



